apiVersion: v1
kind: Secret
metadata:
  name: cte-demo-token
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  # This is a base64 encoded registration token.  To generate:
  # echo <CM REGISTRATION TOKEN STRING> | base64 -w 0
  registration_token: {{ REG_TOKEN_ENCODED }}