apiVersion: v1
kind: PersistentVolume
metadata:
    name: nfs-pv
    namespace: {{ NAMESPACE }}
spec:
    capacity:
      storage: 1Gi
    accessModes:
      -  ReadWriteMany
    storageClassName: nfs
    persistentVolumeReclaimPolicy: Retain
    mountOptions:
        - hard
        - nfsvers=3.0
    nfs:
        path: /data/
        server: localhost