apiVersion: v1
kind: Secret
metadata:
  name: akeyless-secret-creds
  namespace: {{ NAMESPACE }}
type: Opaque
stringData:
  accessId: {{ AKEYLESS_API_ACCESS_ID }}
  accessType: api_key
  accessTypeParam: {{ AKEYLESS_API_ACCESS_KEY }}