apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-secret
  namespace: {{ NAMESPACE }}
spec:
  refreshInterval: 1h

  secretStoreRef:
    kind: SecretStore
    name: akeyless-secret-store

  target:
    name: akl-cte-secret
    creationPolicy: Owner

  # for JSON formatted secrets: each key in the JSON will be used as the secret key in the SECRET k8s target object
  data:
    - secretKey: registration_token
      remoteRef:
        key: /cm/cte_encoded_reg_token