runlabel: uideployment

deployment:
  name: kubecon-demo-ui
  appimagename: frontend
  replicas: 1
  appimage: ciphertrust/learn:demo-dpg-cte-secrets-ui
  pullPolicy: IfNotPresent
  #pullPolicy: Always

service:
  name: svc-ui
  type: NodePort
  uiappname: ui-port
  uiappnodePort: 32080
  uiappPort: 3000
  uiapptargetPort: 3000

configuration:
  api_server_ip: {{ BACKEND_IP }}
  api_server_port: {{ BACKEND_PORT }}

serviceAccount:
  create: true
  annotations: {}
  name: ""

ingress:
  enabled: true

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80